<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/imports :: head}"></th:block>
    <meta charset="UTF-8">
    <title>mini blog application home page</title>
</head>
<body>
<nav class="navbar sticky-top navbar-light bg-light">
    <div class="container-fluid">

        <form action="/login-page">
            <button class="btn btn-outline-success" type="submit">Login</button>
        </form>

        <form action="/register">
            <button class="btn btn-outline-success" type="submit">Register</button>
        </form>

        <form action="/add-post">
            <button class="btn btn-outline-success" type="submit">Add_post</button>
        </form>

        <p th:if="${@userContextService.getLoggedName()}" th:text="${@userContextService.getLoggedName()}"></p>
    </div>
</nav>

</body>
</html>