<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/imports :: head}"></th:block>
    <meta charset="UTF-8">
    <title>add post</title>
</head>
<body>

<div th:replace="fragments/imports :: navbar" />

<div class="wrapper">
    <div class="h-100 p-3 bg-light border rounded-5 my-2">
        <form th:action="@{/add-post}" th:method="POST" th:object="${newPost}">

            <div class="input-group mb-3">
                <input th:field="*{title}" type="text" class="form-control" placeholder="Title" aria-label="Title"
                       aria-describedby="basic-addon1">
            </div>

            <div class="input-group mb-3">
            <textarea th:field="*{content}" class="form-control" placeholder="Content" aria-label="Content"
                      aria-describedby="basic-addon1"></textarea>
            </div>

            <form class="d-flex">
                <button class="btn btn-outline-secondary" type="submit">Publish post</button>
            </form>
        </form>
    </div>
</div>
</body>
</html>