<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/imports :: head}"></th:block>
    <meta charset="UTF-8">
    <title>add post</title>
</head>
<body>
<nav class="navbar sticky-top navbar-light bg-light">
    <div class="container-fluid">
        <form action="/home">
            <button class="btn btn-primary">
                home
            </button>
        </form>
        <p th:if="${@userContextService.getLoggedName()}" th:text="${@userContextService.getLoggedName()}"></p>
    </div>
</nav>

<form th:action="@{/add-post}" th:method="POST" th:object="${newPost}">

    <div class="input-group mb-3">
        <input th:field="*{title}" type="text" class="form-control" placeholder="Title" aria-label="Title" aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3">
        <textarea th:field="*{content}" class="form-control" placeholder="Content" aria-label="Content" aria-describedby="basic-addon1"></textarea>
    </div>

    <form class="d-flex">
        <button class="btn btn-outline-success" type="submit">Publish post</button>
    </form>
</form>
</body>
</html>