<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/imports :: head}"></th:block>
    <meta charset="UTF-8">
    <title>add post</title>
</head>
<body>
<nav class="navbar sticky-top navbar-light bg-light">
    <div class="container-fluid">
        <form action="/home">
            <button class="btn btn-primary">
                home
            </button>
        </form>
        <p th:if="${@userContextService.getLoggedName()}" th:text="${@userContextService.getLoggedName()}"></p>
    </div>
</nav>

<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                <div th:text="${post.getTitle()}"/>
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
             data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div th:text="${post.getContent()}"/>
            </div>
        </div>
    </div>
</div>

</div>


<form th:action="@{/add-comment}" th:method="POST" th:object="${newComment}">
    <div class="input-group mb-3">
        <input type="hidden" th:value="${post.id}" name="postId"/>
        <input th:field="*{content}" type="text" class="form-control" placeholder="Title" aria-label="Comment Content"
               aria-describedby="basic-addon1">
    </div>

    <div class="flex-content" th:each="comment: ${comments}">
        <p th:text="${comment.getContent()}"></p>
    </div>
 

    <form class="d-flex">
        <button class="btn btn-outline-success" type="submit">Add comment</button>
    </form>
</form>


</body>
</html>