<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/imports :: head}"></th:block>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>

<div th:replace="fragments/imports :: navbar" />


<div class="wrapper">
    <div class="h-100 p-3 bg-light border rounded-5 my-2">
        <form th:action="@{/register}" th:method="POST" th:object="${userRegisterForm}">
            <div class="input-group mb-3">
                <input id="firstName" th:field="*{firstName}" type="text" class="form-control" placeholder="First Name"
                       aria-label="First Name" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <input id="lastName" th:field="*{lastName}" type="text" class="form-control" placeholder="Last Name"
                       aria-label="Last Name" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <input id="email" th:field="*{email}" type="text" class="form-control" placeholder="Email"
                       aria-label="Email" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <input id="password" th:field="*{password}" type="text" class="form-control" placeholder="Password"
                       aria-label="Password" aria-describedby="basic-addon1">
            </div>
            <form class="d-flex">
                <button class="btn btn-outline-secondary" type="submit">Submit</button>
            </form>
        </form>
    </div>
</div>

</body>
</html>