h1{
    color: gray;
}
.wrapper{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.custom-nav{
    display: flex;
    justify-content: space-between;
}
.nav-section{
    display: flex;
    flex-direction: row;
}